In [1]:
# project: p12
# submitter: ccmaloney
# partner: jmaloney3
# hours: ???

In [2]:
import requests
import os
import pandas as pd
from pandas import DataFrame, Series
import json
from bs4 import BeautifulSoup

In [3]:
# Returns True if file was downloaded, False if file already exists
def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return False
    
    response = requests.get(url)
    response.raise_for_status()

    f = open(filename, "w", encoding="utf-8")
    f.write(response.text)
    f.close()

    return True

In [4]:
download("rankings.json", "https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/rankings.json")
download("2019-2020.html", "https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/2019-2020.html")
download("2020-2021.html", "https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/2020-2021.html")
download("2021-2022.html", "https://raw.githubusercontent.com/msyamkumar/cs220-f21-projects/main/p12/2021-2022.html")

False

In [5]:
#Q1: How many countries do we have in our dataset?
rankings = pd.DataFrame(pd.read_json("rankings.json"))
#len(set(rankings.Country))
rankings["Country"].nunique()
#rankings.head()

103

In [6]:
 #Q2: Generate a pandas DataFrame containing all the statistics of the highest-ranked institution based on "World Rank" (Note: highest rank is 1).
rankings[rankings["World Rank"] == 1]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [7]:
#Q3: Generate a pandas DataFrame containing all the statistics of "University of Wisconsin–Madison"
rankings[rankings["Institution"] == 'University of Wisconsin–Madison']

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [8]:
#Q4: What is the "National Rank" of the "University of Wisconsin–Madison" in the year 2021-2022?
uwrank = rankings[rankings["Institution"] == 'University of Wisconsin–Madison']
uwrank = uwrank[uwrank['Year'] == '2021-2022']
uwrank['National Rank'].iloc[0]

19

In [9]:
#Q5: What is the average score of the "University of Wisconsin–Madison"?
uwrank = rankings[rankings["Institution"] == 'University of Wisconsin–Madison']
uwrank['Score'].mean()

87.26666666666667

In [10]:
#Q6: Generate a pandas dataframe containing all the statistics of universities from Singapore in the year 2020-2021.
Singapore = rankings[rankings["Country"] == "Singapore"]
Singapore[Singapore['Year'] == '2020-2021']

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [11]:
#Q7: In the year 2019-2020, what was the highest-ranked institution in Germany?
Germany = rankings[rankings["Country"] == "Germany"]
Germany = Germany[Germany["National Rank"] == 1]
Germany = Germany[Germany['Year'] == "2019-2020"]
Germany['Institution'].iloc[0]

'Ludwig Maximilian University of Munich'

In [12]:
#Q8: In the year 2019-2020, list all the institutions in the USA ranked better than the highest-ranked institution in Germany.
Germany2019 = rankings[(rankings["Country"] == "Germany") & (rankings["Year"] == "2019-2020")]


rankings[(rankings["Country"] == "USA") & (rankings['World Rank'] < Germany2019['World Rank'].min()) & (rankings['Year'] == "2019-2020")]["Institution"].tolist()

['Harvard University',
 'Massachusetts Institute of Technology',
 'Stanford University',
 'Columbia University',
 'Princeton University',
 'University of California, Berkeley',
 'University of Pennsylvania',
 'University of Chicago',
 'California Institute of Technology',
 'Yale University',
 'Cornell University',
 'Northwestern University',
 'University of California, Los Angeles',
 'University of Michigan, Ann Arbor',
 'Johns Hopkins University',
 'University of Washington - Seattle',
 'University of Illinois at Urbana–Champaign',
 'Duke University',
 'University of Wisconsin–Madison',
 'New York University',
 'University of California San Diego',
 'University of Texas at Austin',
 'University of California, San Francisco',
 'University of North Carolina at Chapel Hill',
 'University of Minnesota - Twin Cities',
 'University of Texas Southwestern Medical Center',
 'Washington University in St. Louis',
 'University of Southern California',
 'Brown University',
 'Vanderbilt University',
 'Pennsylvania State University',
 'Rutgers University–New Brunswick',
 'Dartmouth College',
 'University of California, Davis']

In [13]:
#Q9: What is the highest-ranked institution based on “Quality of Education Rank” in China for the year 2021-2022?
China = rankings[(rankings["Country"] == "China") & (rankings['Year'] == '2021-2022')]
China = China[China["Quality of Education Rank"] == China["Quality of Education Rank"].min()]
China["Institution"].iloc[0]

'Fudan University'

In [14]:
#Q10: What are the top five highest-ranked institutions based on "Research Performance Rank" in India for the year 2020-2021?

sortedrankings = rankings.sort_values(by=["Research Performance Rank"])
top5 = sortedrankings[(sortedrankings["Country"] == "India") & (sortedrankings['Year'] == '2020-2021')].iloc[0:5]
top5['Institution'].tolist()

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [15]:
#Q11: How many institutions have rankings for all three years?

year_2019_ranking_df = rankings[rankings["Year"] == "2019-2020"]
year_2019_institutions_df = year_2019_ranking_df['Institution']
set2019 = set(year_2019_institutions_df)

year_2020_ranking_df = rankings[rankings["Year"] == "2020-2021"]
year_2020_institutions_df = year_2020_ranking_df['Institution']
set2020 = set(year_2020_institutions_df)

year_2021_ranking_df = rankings[rankings["Year"] == "2021-2022"]
year_2021_institutions_df = year_2021_ranking_df['Institution']
set2021 = set(year_2021_institutions_df)

len(list(set2019.intersection(set2020, set2021)))
#institution_2019_2020_2021 =

1856

In [16]:
def reduce(f, i, initial = None):
    if initial == None:
        try:
            rv = next(i)
        except StopIteration:
            return []
    else:
        rv = initial
    
    for j in i:
        rv = f(rv, j)
    return rv

def bucketize_reduce(d, row, key, value):
    k = key(row)
    if type(k) == list:
        for i in k:
            bucketize_reduce(d, (i, value(row)), lambda x: x[0], lambda x: x[1])
    else:
        if not k in d:
            d[k] = []
        d[k].append(value(row))
    return d

def bucketize(l, key = lambda x: x[0], value = lambda x: x[1]):
    return reduce(lambda d, row: bucketize_reduce(d, row, key, value), l, initial = {})

def mean(l, key = lambda x: x):
    l = list(l)
    return sum(map(key, l)) / len(l)

In [17]:
years = [(year_2019_ranking_df, "2019"), (year_2020_ranking_df, "2020"), (year_2021_ranking_df, 2021)]

institutions_df = reduce(lambda x, y: x.merge(y, how='inner', on='Institution'), map(lambda x: x[0][["Institution", "World Rank"]].rename(columns = { "World Rank": f"{x[1]}_ranking" }), years))
institutions_df

,Institution,2019_ranking,2020_ranking,2021_ranking
0,Harvard University,1,1,1
1,Massachusetts Institute of Technology,2,2,2
2,Stanford University,3,3,3
3,University of Cambridge,4,4,4
4,University of Oxford,5,5,5
...,...,...,...,...
1851,Tôn Đức Thắng University,1978,1602,1426
1852,Taibah University,1979,1864,1826
1853,University of Massachusetts Dartmouth,1980,1607,1593
1854,Linyi University,1994,1943,1863
1855,Government College University Faisalabad,2000,1910,1853

In [18]:
#Q11.5
# set_index function enables us to set any column in the DataFrame as row indices
# to_json function enables us to convert the DataFrame into a JSON data structure
institutions_df.set_index('Institution').to_json('my_institutions.json')
institutions_df

,Institution,2019_ranking,2020_ranking,2021_ranking
0,Harvard University,1,1,1
1,Massachusetts Institute of Technology,2,2,2
2,Stanford University,3,3,3
3,University of Cambridge,4,4,4
4,University of Oxford,5,5,5
...,...,...,...,...
1851,Tôn Đức Thắng University,1978,1602,1426
1852,Taibah University,1979,1864,1826
1853,University of Massachusetts Dartmouth,1980,1607,1593
1854,Linyi University,1994,1943,1863
1855,Government College University Faisalabad,2000,1910,1853

In [19]:
#Q12: Between the years 2019-2020 and 2021-2022, list the institutions which have seen an improvement in their "World Rank" by more than 500 ranks.

institutions_df["2019_to_2021"] = institutions_df["2019_ranking"] - institutions_df["2021_ranking"] 
institutions_df[(institutions_df["2019_to_2021"] > 500)]["Institution"].tolist()

['International Institute for Management Development',
 'Haverford College',
 'Academy of Scientific & Innovative Research',
 'École nationale supérieure de chimie de Montpellier',
 'SOAS University of London',
 'Federal University of Mato Grosso do Sul',
 'USI - University of Italian Speaking Switzerland',
 'Antioch College',
 'Tôn Đức Thắng University']

In [20]:
#Q13: Between the years 2019-2020 and 2021-2022, which institution has the most significant change in its "World Rank"?


institutions_df[institutions_df["2019_to_2021"] == institutions_df["2019_to_2021"].max()]["Institution"].iloc[0]

'USI - University of Italian Speaking Switzerland'

In [21]:
#Q14: For all the three years, find the number of institutions which have a continuous improvement in their "World Rank".
improved = institutions_df[(institutions_df["2019_ranking"] - institutions_df["2020_ranking"] > 0)]
improved = improved[(improved["2020_ranking"] - improved['2021_ranking'] > 0)]
len(improved["Institution"].tolist())

#institutions_df["2021_ranking"]

451

In [22]:
#Q15: In the year 2020-2021, list the institutions which are within the top 10 in the world based on "Alumni Employment Rank" but do not feature in the top 10 of the world ranking.
alum_top10 = rankings[(rankings['Year'] == "2020-2021")].sort_values(by = "Alumni Employment Rank").iloc[0:10]
world_top10 = rankings[(rankings['Year'] == "2020-2021")].sort_values(by = "World Rank").iloc[0:10]


list(set(alum_top10["Institution"]) - set(world_top10["Institution"]))

['HEC Paris',
 'University of Tokyo',
 'International Institute for Management Development',
 'INSEAD',
 "École nationale d'administration",
 'Institut Polytechnique de Paris',
 'China Europe International Business School']

In [23]:
 #Q16: List the universities which ranked in the top 100 of world rankings in the year 2019-2020 but failed to do so in rankings of year 2021-2022.
world100_2019_2020 = rankings[(rankings['Year'] == "2019-2020")].sort_values(by = "World Rank").iloc[0:100]
world100_2021_2022 = rankings[(rankings['Year'] == "2021-2022")].sort_values(by = "World Rank").iloc[0:100]
    
list(set(world100_2019_2020["Institution"]) - set(world100_2021_2022["Institution"]))

['Emory University',
 'Aarhus University',
 'École normale supérieure',
 'École Polytechnique Fédérale de Lausanne',
 'Tufts University',
 'University of Utah',
 'University of Groningen',
 'University of California San Diego',
 'Paris-Sud University',
 'École Polytechnique',
 'University of Texas MD Anderson Cancer Center',
 'Paris Diderot University']

In [24]:
#Q17: List the countries which have at least 10 institutions featuring in the top 100 of world rankings in the year 2020-2021.
top100_2021 = rankings[(rankings["Year"] == "2020-2021") & (rankings['World Rank'] <= 100)]
counts = top100_2021["Country"].value_counts()
counts[counts >= 10].index.tolist()

['USA', 'United Kingdom']

In [31]:
def parse_int(d):
    try: return int(d)
    except ValueError: return None
    
def parse_float(d):
    try: return float(d)
    except ValueError: return None

def parse_table(table):
    tbl = table.find_all('tr')
    header = parse_header(tbl[0])
    rows = map(lambda x: dict(zip(header, parse_row(x))), tbl[1:])
    return rows
    
def parse_row(row):
    return parse_rowlike(row, 'td')
    
def parse_header(header):
    return parse_rowlike(header, 'th')
    
def parse_rowlike(data, tag):
    return list(map(lambda x: x.text, data.find_all(tag)))

def parse_html_table_file(path):
    f = open(path, encoding='utf-8')
    doc = BeautifulSoup(f.read(), 'html.parser')
    f.close()
    return parse_datatypes(parse_table(doc.find('table')))

def insert_year(table, year):
    def _f(x):
        x["Year"] = year
        return x
    return map(_f, table)

def parse_datatypes(table):
    ints = ["World Rank", 'National Rank', 'Quality of Education Rank', 'Alumni Employment Rank', 'Quality of Faculty Rank', 'Research Performance Rank']
    floats = ['Score']

    def _f(x):
        def _g(y):
            if y[0] in ints:
                return (y[0], parse_int(y[1]))
            elif y[0] in floats:
                return (y[0], parse_float(y[1]))
            else:
                return y
            
        return dict(map(_g, x.items()))
    return map(_f, table)

In [32]:
#Q18: Use BeautifulSoup to parse `2019-2020.html`, and find the table containing the ranking data. What are the column names of this table?
table19 = list(parse_html_table_file("2019-2020.html"))
list(table19[0].keys())

['World Rank',
 'Institution',
 'Country',
 'National Rank',
 'Quality of Education Rank',
 'Alumni Employment Rank',
 'Quality of Faculty Rank',
 'Research Performance Rank',
 'Score']

In [33]:
#Q19: Parse the contents of the table you found in `2019-2020.html` and represent it as a list of dicts. What are the first 5 dictionaries in the list?

list(insert_year(table19, "2019-2020"))[:5]

[{'World Rank': 1,
  'Institution': 'Harvard University',
  'Country': 'USA',
  'National Rank': 1,
  'Quality of Education Rank': 2,
  'Alumni Employment Rank': 1,
  'Quality of Faculty Rank': 1,
  'Research Performance Rank': 1,
  'Score': 100.0,
  'Year': '2019-2020'},
 {'World Rank': 2,
  'Institution': 'Massachusetts Institute of Technology',
  'Country': 'USA',
  'National Rank': 2,
  'Quality of Education Rank': 1,
  'Alumni Employment Rank': 10,
  'Quality of Faculty Rank': 2,
  'Research Performance Rank': 5,
  'Score': 96.7,
  'Year': '2019-2020'},
 {'World Rank': 3,
  'Institution': 'Stanford University',
  'Country': 'USA',
  'National Rank': 3,
  'Quality of Education Rank': 9,
  'Alumni Employment Rank': 3,
  'Quality of Faculty Rank': 3,
  'Research Performance Rank': 2,
  'Score': 95.2,
  'Year': '2019-2020'},
 {'World Rank': 4,
  'Institution': 'University of Cambridge',
  'Country': 'United Kingdom',
  'National Rank': 1,
  'Quality of Education Rank': 4,
  'Alumni Employment Rank': 19,
  'Quality of Faculty Rank': 5,
  'Research Performance Rank': 11,
  'Score': 94.1,
  'Year': '2019-2020'},
 {'World Rank': 5,
  'Institution': 'University of Oxford',
  'Country': 'United Kingdom',
  'National Rank': 2,
  'Quality of Education Rank': 10,
  'Alumni Employment Rank': 24,
  'Quality of Faculty Rank': 10,
  'Research Performance Rank': 4,
  'Score': 93.3,
  'Year': '2019-2020'}]

In [30]:
#Q20: Parse the contents of `2019-2020.html`, `2020-2021.html`, and `2021-2022.html` and combine them to create a file titled `my_rankings.json`.

files = ["2019-2020.html", "2020-2021.html", "2021-2022.html"]
tables = map(lambda x: parse_html_table_file(x), files)
tables = map(lambda x: list(insert_year(x[1], x[0].split(".")[0])), zip(files, tables))
data = reduce(lambda x, y: x + y, tables)
f = open("my_rankings.json", "w")
json.dump(data, f)
f.close()